/* entire document */
 body{
     background: #D6D6D6 ;
     font-family: 'Roboto Mono', monospace;
     margin: 0;
	 color: black; 
}
button:focus {
    outline:0;
}
/* Nav */
 nav {
     color: white;
     background: black;
     padding-bottom: 10px;
     padding-top: 10px;
     width: 100%;
     font-family: sans-serif;
     font-family: "Circle", Verdana, Tahoma;
     text-align: center;
     vertical-align: middle;
     margin: 0;
}
 #nic {
     color: #40cc33;
     text-decoration: none;
}
 #nic:hover {
     color: #4a9943;
}
/* Quote Buttons */
 #quoteButtonContainer{
    margin:0px auto;
    text-align: center;
	background: #575757; 
}
 .quoteButtons{
     color: white;
     border: 3px solid grey;
     font-size: 14px;
     opacity: .4;
     width: 100px;
	 height: 100px; 
	 padding: 5px 20px; 
	 background: white; 
}
.quoteButtons:hover{
	border: 3px solid black; 
	background: #E8E8E8;
}
 .active{
     opacity: 1;
}
#darkestDungeon{
	padding: none; 
}
/* Generate New Quote */
#generateContainer{
	text-align: center; 
}
#generateNewQuote, #twitterButton{
	border: none; 
	background: #575757; 
	color: white; 
	padding: 3px 20px; ; 
}
#large{
	font-size: 20px; 
}
#small{
	font-size: 12px; 
}
#twitterButton{
  font-size: 14px;
  border-bottom: 2px solid;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: none; 
  width: 300px; 
  margin-bottom: 10px; 
  margin-right: 8px; 
  height: 30px; 
}
#generateNewQuote{
 width: 300px; 
}
#generateNewQuote:hover, #twitterButton:hover{
	background: #242424; 
}

/* Block quotes */
#quote-sign-top, #quote-sign-bottom{
  width: 25px;
  height: 19px;

}
#quote-sign-bottom{
	float: right; 
}

/* Quote */
#quoteContainer{
    background: #786B6B;
	width: 80%;
	margin: 0 auto; 
	padding: 10px; 
	color: white; 
}
p{
	margin: 0px; 
}
#quote, #author{
	white-space: pre-wrap;
}
#quote{
  font-size: 18px;
  text-align: center;
}
#author{
  width: 40%;
  margin: 0 auto; 
  font-size: 16px;
  text-align: center;
  background: #786B6B;
  color: white; 
  border-bottom: 2px solid white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

