<!-- 
<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-xs-2"> <img src="http://i1149.photobucket.com/albums/o585/CrumrineCoder/QuotesTop%201_zpsvtspucqe.png" class="quote-sign-top"> </div>
            <div class="col-xs-8 quote">
                <div id="quote"> </div>
            </div>
            <div class="col-xs-2"> <img src="http://i1149.photobucket.com/albums/o585/CrumrineCoder/QuotesBottom%201_zpsjtaqfjqv.png" class="quote-sign-bottom"> </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 signature" id="signs"> </div>
            </div>
            <div class="row">
                <div class="breakpoint_quote">
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-4 text-center generateQuote btn btn-primary" id="quoteGen">
                    <div onclick="nextQuote()">Generate New Quote</div>
                    <div style="font-size: 20px"> (Spacebar or click) </div>
                </div>
                <div class="breakpoint_quote">
                    <div class="col-xs-4"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-2 social-media twitter-btn" id="test">
                    <div class="fa fa-twitter"> </div>
                </div>
                <div class="col-xs-5"></div>
            </div>
        </div> -->
		
		
		<!--   <form id="twitchSearch" class="formInline"> <input placeholder="Search for streams." type="text" id="searchBar"> <button id="searchButton" type="submit"><span class="fa fa-search"></span></button> </form>
    <div id="statusButtonContainer"> <button class="statusButtons active" id="allButton" onclick="showAll()"> All</button> <button class="statusButtons" id="onlineButton" onclick="onlineOnly();"> Online Only</button> <button class="statusButtons" id="offlineButton" onclick="offlineOnly();"> Offline Only</button> </div> <button ng-click="Condensed = !Condensed" id="condenseButton"> Toggle Preview </button> <span ng-repeat="Stream in Streams | orderBy: '!online'">
	
         <div class="container" id="{{Stream.name}}" ng-class="{'online': Stream.status == 'online', 'offline': Stream.status == 'offline' }">
		 	<button class="delete fa fa-times" ng-click="remove(Stream)"></button>
            <a href="{{Stream.url}}" target="_blank">
               <img class="logo" ng-src="{{Stream.logo}}"></img>
			  
               <span class="summary"> {{Stream.name}} <span ng-show="{{Stream.status == 'online'}}">is</span> <span ng-hide="{{Stream.status == 'online'}}">was</span> playing {{Stream.game}} <span ng-show="{{Stream.status == 'online'}}">for {{Stream.viewers}} viewers</span> </span>
    <p class="title">{{Stream.title}}</p>
    <hr>
    <div class="smallDetails"> Followers: <span class="followers"> {{Stream.followers}} </span> Language: <span class="language"> {{Stream.language}}</span> Mature Only: <span class="mature"> {{Stream.mature}} </span> </div> <img ng-hide="Condensed" class="preview" ng-src="{{Stream.preview}}"> </img>
    </a>
    </div>
    </span> -->
