<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quote Generator Version 2</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Varela+Round'>
    <link rel="stylesheet" href="css/style.css"> </head>
<nav>
    <div id="ad"> Quote Generator by <a href="https://crumrinecoder.github.io/Profile-Website-version2/" id="nic"> Nicolas Crumrine</span></a> </div>
</nav>

<body ng-app="quoteApp" ng-controller="quoteController"> 
	<button ng-click="refresh()" class="refresh" class="fa fa-refresh"> Refresh Quotes </button> 
	<button ng-click="refreshAll()" class="refresh" class="fa fa-refresh"> Refresh All Quotes </button> 
	
	<button ng-click="changeArray('DarkestDungeon')">Darkest Dungeon Quotes </button> 
	<button ng-click="changeArray('Civilization')">Civilization Quotes </button>

	<p>{{currentQuotes[index].quote}}</p>
	<p>{{currentQuotes[index].author}}</p>
	<button type="button" name="button" value="Next" ng-click="index = (index + 1) % currentQuotes.length">Generate New Quote</button>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js'></script>
    <script src="js/index.js"></script>

</body>
</html>
